.list-group-item{
    width: 500px;
    justify-content: center;
    padding: 20px;
}


.login{
    justify-content: center;
    display: flex;
    position: fixed;
    top: 28vh;
    left: 35vw;
    z-index: 100;
    background: white;
}

input.ng-invalid.ng-touched{
    border-color: red;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}
