<app-header></app-header>
<!-- <app-coupon></app-coupon> -->
<div class="home">
    <router-outlet></router-outlet>
</div>

<!-- <div class="ellipsis-container">
    <span class="popup-content">{{ resource_name }}</span>
    <span class="popup">{{ resource_name }}</span>
</div> -->
<!-- <div class="ellipsis-container">
    <span class="{{  account_name.length > 27 ? 'popup-content' : 'popup-content-cursor' }}" style="width: 213px;">{{ account_name }}</span>
    <span class="{{  account_name.length > 29 ? 'popup' : 'disabled-popup' }}">{{account_name }}</span>
</div> -->
<!-- <div class="ellipsis-container">
    <span class="popup-content" style="max-width: 213px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ account_name }}</span>
    <span class="{{ account_name.length > 29 ? 'popup' : 'disabled-popup' }}">{{ account_name }}</span>
</div> -->